<%= @endorsement.headline %>
<p>Name</p>
<%= @endorsement.name %>
<p>Description</p>
<%= @endorsement.description %>
<p>Category</p>
<%= @endorsement.category %>
<p>Date endorsement achieved</p>
<%= @endorsement.date_achieved %>
